*{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}
.banner{
    width: 100%;
    height: 100vh; 
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    width: 200px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    position: relative;
    font-size: large;
}
.navbar ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar ul li::after{
    content:'';
    height: 2px;
    width: 0;
    background: #808080;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    color: #fff;
    text-align: center;
    padding: 70px 0;
    margin-top: 80px;
}
.content h1{
    font-size: 60px;
    margin-top: 80px;
}
button{
    width: 120px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    font-weight: bold;
    outline: none;
    color: #fff;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
}